# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UnityMVVM.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\PROGRAMMING\Unity_2021\UnityMVVM\.idea\.idea.UnityMVVM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
